[Unit]
Description=Behrsin IoT Web Server

[Service]
RestartSec=3
ExecStartPre=/usr/bin/docker pull gcr.io/behrsin-iot/iot-server:latest
ExecStartPre=-/usr/bin/docker rm -f iot-server
ExecStart=/usr/bin/docker run --rm --env-file /etc/iot-server.env -v /data/iot-server:/data -p 0.0.0.0:80:80/tcp -p 0.0.0.0:443:443/tcp --link iot-turn --name iot-server gcr.io/behrsin-iot/iot-server:latest
ExecStop=-/usr/bin/docker rm -f iot-server

[Install]
WantedBy=multi-user.target
