PermitRootLogin prohibit-password
PasswordAuthentication no
ChallengeResponseAuthentication no
UsePAM yes
X11Forwarding yes
AcceptEnv LANG LC_*
Subsystem	sftp	/usr/lib/openssh/sftp-server
AuthorizedKeysFile /etc/ssh/authorized_keys/%u
